body {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

i {
    font-size: 22px;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Open Sans";
    font-weight: bold;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111;
}

.navName {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
}

.rightSide {
    float: right;
    padding-right: 80px;
}

.middleSide {
    float: right;
    padding-right: 100px;
}

.leftSide {
    float: left;
    padding-left: 80px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    font-family: "Open Sans";
    font-size: 20px;
}

.container .sections {
    position: relative;
    padding: 20px 40px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    width: 500px;
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.container .aboutSection {
    position: relative;
    padding: 20px 40px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    width: 60%;
    height: 300px;
    margin-top: 20px;
}

.container .projectSection {
    position: relative;
    padding: 20px 40px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    width: 60%;
    height: 300px;
    margin-top: 20px;
}