body {
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
}

i {
    font-size: 22px;
}

p {
    text-align: center;
}

.container {
    font-family: "Open Sans";
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container .sections {    
    padding: 20px 40px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    width: 700px;
    height: 250px;
}