html {
    scroll-behavior: smooth;
  }

body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    background-color: #333;
    margin-top: 50px;    
    flex-grow: 1;
}

.sidenav a:hover {
    background-color: black;
    color: white;
  }

.sidenav a {
    display: block;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 30px;
}

.Main {
    position: absolute;
    margin-left: 200px;
    margin-top: 60px;
}

.Main .tab-content {
    text-align: center;
    margin-right: 15%;
}

img {
    border: 10px solid #333;
    margin-top: 10px;
  }

.container {
    font-family: "Open Sans";
    font-size: 20px;
    position: relative;
    text-align: center;
}

.container .sections {    
    padding: 20px 40px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    width: 80%;
    height: 250px;
}

#accountingApp .container .sections {
    margin-left: 10%;
}

#calendarApp .container .sections {
    margin-left: 7%;
}

#pongApp {
    margin-left: 10%;
    margin-top: 20px;
}

#pongApp .container .sections {
    margin-left: 15%;
    height: 160px;
}

#pongApp .container #gameCanvas {
    margin-top: 20px;
}

#unityApp .container .sections {
    margin-left: 15%;
}

#otherApp {
    margin-left: 10%;
    margin-top: 20px;
}

#otherApp .container .sections {
    margin-left: 6%;
}

#futureApp {
    margin-left: 20%;
    margin-top: 100px;
}